<h1>Catalog</h1>
<ul>
    {% for category in categories %}
        <li>
            <a href="{% url 'mygadget:category_detail' category.id %}">{{ category.name }}</a>
            {% if category.subcategories.exists %}
                <ul>
                    {% for subcategory in category.subcategories.all %}
                        <li><a href="{% url 'mygadget:category_detail' subcategory.id %}">{{ subcategory.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>